
@{
    ViewBag.Title = "IndexDetail";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Detailpages.js"></script>
<h2>IndexDetail</h2>

<input type="hidden" value="@ViewBag.Applications_Id" id="hdnId" />
<div id="tblapplication" style="font:bold 15px arial"></div>

