
@{
    ViewBag.Title = "Internlist";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/eSankalp.js"></script>
<h2>Internlist</h2>

<h2>Internlist</h2>
<div class="mw-100" style="width: 200%;">
    <table id="tblapplication" border="1" class="table-bordered container-fluid">
        <thead>


            <tr class="bg-danger text-warning text-center">
                <th>Applications_Id</th>
                <th>Registration_Id</th>
                <th>Name of Trainee</th>
                <th>Qualification</th>
                <th>Mobile</th>
                <th>EmailId</th>
                @*<th>Date of Birth</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Pincode</th>*@
                <th>Select Training</th>
                @*<th>Totalfees</th>
                    <th>Discount</th>
                    <th>Joining Date</th>
                    <th>Advance Paid</th>*@
                @*<th>On Dated</th>*@
                <th>Remaining Amount</th>
                <th>Created Date</th>
                @*<th>Created By</th>
                    <th>Updated By</th>
                    <th>Update Date</th>*@
                <th>Active</th>
                <th>Image</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Detail</th>




            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@*<div id="applicationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container" id="DetailReg">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

</div>*@


